*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0px auto;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
nav {
  background-color: #111;
  padding: 5px;
}

nav {
  position: sticky;
  top: 0px;
  z-index: 3;
}
.sidenav {
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 90px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav, .sidenav a, .sidenav a:hover{
  z-index: 2;
}

.sidenav img{
  width: 120px;
  float: left;
  margin: 40px;
}

.button{
  text-align: center;
  margin: 30px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.329);
}

.column{
  margin: 10px;
  text-align: center;
}

.line{
  margin: 0px 30px 0px 30px;
  border: 1px solid rgba(0, 0, 0, 0.609);
}

.main{
  margin-left: 320px;
}
.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #ccc;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.9rem;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #aaa;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.channel-icon {
  margin-right: 0.75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}

.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-channel-name,
.video-metadata {
  color: #555;
}

.video-section-title {
  grid-column: 1 / -1;
  margin: -0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos {
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.uncoded {
  width: 200px;
  height: 80px;
  margin-right: 33px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

.search-input {
  width:90%;
  font-size: inherit;
  padding: 10px;
  border-radius: 4px;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  background-color: #00000032;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #0000003d;
}

.menu-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 1.5rem;
}

.menu-channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.upbutton{
  margin: 5.5px;
  background-color: rgba(0, 0, 0, 0.349);
  padding: 10px;
  border-radius: 6px;
  color: #818181;
}

.upbutton:hover{
  background-color: rgba(255, 235, 205, 0.431);
}

#upb{
  margin-right: -15px;
}
